In [1]:
print('Hello World')

Hello World

In [2]:
print("Hello World")

Hello World

In [3]:
'Hello World'

'Hello World'

In [4]:
"Hello World"

'Hello World'

In [5]:
'''This is a 
multiline comment

'''

'This is a \nmultiline comment\n\n'

In [6]:
'''This is a multiline comment'''

'This is a multiline comment'

In [7]:
sttr = "This is me"
age = 21
weight = 75.5

In [8]:
print(sttr)
print(age)
print(weight)

This is me
21
75.5

##### Numbers Strings Lists Tuples Dictionaries

##### Arithmetic operations

In [9]:
print("The value of 3 + 5 = ", 3+5)
print("The value of 3 - 5 = ", 3-5)
print("The value of 3 * 5 = ", 3*5)
print("The value of 3 / 5 = ", 3/5)
print("The value of 3 ** 5 = ", 3**5)
print("The value of 3 // 5 = ", 3//5)

The value of 3 + 5 =  8
The value of 3 - 5 =  -2
The value of 3 * 5 =  15
The value of 3 / 5 =  0.6
The value of 3 ** 5 =  243
The value of 3 // 5 =  0

In [10]:
print("This is a \"")

This is a "

In [11]:
mls = ''' this is a multiline
string and this will keep 
going'''
print(mls)

 this is a multiline
string and this will keep
going

In [12]:
print("%s to the right"%('this is a string'))

this is a string to the right

In [13]:
print("%s Prasad"%("My Name is"))

My Name is Prasad

In [14]:
print('this is print statement 1', end="")

this is print statement 1

In [15]:
print('this is print statement 2')

this is print statement 2

In [16]:
print("this "*50)

this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this this

In [17]:
print("prasad "*20)

prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad prasad

### Lists

In [18]:
colleges = ['IIT', 'NIT', 'College of engineering']

In [19]:
print(colleges)

['IIT', 'NIT', 'College of engineering']

In [20]:
print(colleges[2])

College of engineering

In [21]:
print(colleges[1])

NIT

In [22]:
colleges[2] = "COE"

In [23]:
print(colleges)

['IIT', 'NIT', 'COE']

In [24]:
print(colleges[1:3])

['NIT', 'COE']

In [25]:
list2 = ['table', 'chair', 'fan', 'clothes', 'bottle']

In [26]:
print(list2)

['table', 'chair', 'fan', 'clothes', 'bottle']

In [27]:
list2.append('microphone')

In [28]:
print(list2)

['table', 'chair', 'fan', 'clothes', 'bottle', 'microphone']

In [29]:
list2.insert(3, 'microphone')

In [30]:
print(list2)

['table', 'chair', 'fan', 'microphone', 'clothes', 'bottle', 'microphone']

In [31]:
list2.remove('microphone')

In [32]:
print(list2)

['table', 'chair', 'fan', 'clothes', 'bottle', 'microphone']

In [33]:
print(list2 + ['pillow', 'tubelight', 'bed'])

['table', 'chair', 'fan', 'clothes', 'bottle', 'microphone', 'pillow', 'tubelight', 'bed']

In [34]:
print(list2)

['table', 'chair', 'fan', 'clothes', 'bottle', 'microphone']

In [35]:
print(len(list2))

6

In [36]:
print(max(list2))

table

In [37]:
print(min(list2))

bottle

## Tuples

In [38]:
tup1 = (1, 2, 3)

In [39]:
print(tup1)

(1, 2, 3)

In [40]:
list1 = list(tup1)

In [41]:
print(list1)

[1, 2, 3]

In [42]:
print(tup1[0])

1

## Dictionaries

In [43]:
names = {'Harry': 22,
         'Shubham': 41,
         'Jyoti': 19,
         'Ramdev': 82}

In [44]:
print(names['Ramdev'])

82

In [45]:
names['Ramdev'] = 55

In [46]:
print(names)

{'Harry': 22, 'Shubham': 41, 'Jyoti': 19, 'Ramdev': 55}

In [47]:
print(names.keys())

dict_keys(['Harry', 'Shubham', 'Jyoti', 'Ramdev'])

In [48]:
print(names.values())

dict_values([22, 41, 19, 55])

### If else statements

In [49]:
# print("Enter Your Marks")
# number=int(input())

In [50]:
# print("Enter Your Marks")
# num=int(input())
# if num>=90 and num<100:
#     print("Grade A")
# elif num>=80 and num<100:
#     print("Grade B")
# elif num>=60 and num<100:
#     print('Grade C')
# else:
#     print("Don't Know")

### Loops

In [51]:
# print("How many times do you want to execute")
# num=int(input())
# for i in range(0,num):
#     print('Your Number is',i)

In [52]:
list1 =[[1,2,3], [4,5,6], [7,8,9]]
for item in list1:
    for i in item:
        print(i)

1
2
3
4
5
6
7
8
9

### While Loops

In [53]:
# print("Enter a number")
# num=int(input())
# while(num>4):
#     print("Your Number is Greater than 4")   
#     num = int(input())
#     if (num == 9):
#         break
#     if num == 8:
#         continue
#     print("Loop Ended")

### Functions

In [54]:
def avg(num1,num2):
    return (num1+num2)/2

In [55]:
# print("Enter a number")
# number = int(input())
# while(number>4):
#     print("Number is greater than 4")
#     number = int(input())
#     if (number ==9):
#         break
#     if number ==8:
#         continue
#     print("loop ended")

In [56]:
avg(10,20)

15.0

In [57]:
avg(2,5)

3.5

In [58]:
avg(100,100)

100.0

### Strings

In [59]:
string1 = "this is me"

In [60]:
string1

'this is me'

In [61]:
print(string1[0:2])

th

In [62]:
print(string1[-2:])

me

In [63]:
print(string1[:-2])

this is

In [64]:
print(string1.capitalize())

This is me

In [65]:
print(string1.find("thisdsfdfd"))

-1

In [66]:
print(string1.replace("is", "are"))

thare are me

## File IO

In [67]:
import os

In [68]:
os.chdir('E:\prasad\practice\Basic Pyton')

In [69]:
file1 = open("prasad.txt", "wb")

In [70]:
print(file1.mode)

wb

In [71]:
print(file1.name)

prasad.txt

In [72]:
file1.write(bytes("hi my name is Balaprasad Garudkar","UTF-8"))

33

In [73]:
file1.close()

#### file io - reading the content of a file

In [74]:
file1 = open('prasad.txt', 'r+')

In [75]:
text_to_read = file1.read()

In [76]:
print(text_to_read)

hi my name is Balaprasad Garudkar

### Object oriented programming

### Class & Object

#### starting level

In [77]:
class emp:
    pass
harry=emp()
bala=emp()

harry.fname='harry'
harry.lname='jackson'
harry.salary=34000

bala.fname='Balaprasad'
bala.lname='Garudkar'
bala.salary=45000

In [78]:
bala.salary

45000

In [79]:
harry.salary

34000

In [80]:
bala.fname

'Balaprasad'

In [81]:
harry.lname

'jackson'

#### Using constructor & (argument)

In [82]:
#Templete class is a employee
class employee:
    #below block is known as constructor
    def __init__(self,fname,lname,salary): #this is known as argument part(......)
        self.fname=fname
        self.lname=lname
        self.salary=salary
# Object part  
prasad=employee('Prasad','Garudkar',56000)
akash=employee('Akash','Khodwe',34000)

In [83]:
prasad.fname

'Prasad'

In [84]:
prasad.salary

56000

In [85]:
print(prasad.salary,akash.salary)

56000 34000

In [86]:
print(prasad.lname,akash.lname)

Garudkar Khodwe

#### Instance Variables and Class Variables Object Oriented Programming

In [87]:
class employee:
    increment=2 #class variable
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
        
    def increase(self):
        self.salary=int(self.salary*employee.increment)
kartik=employee('Kartik','Roy',30000)

In [88]:
kartik.fname

'Kartik'

In [89]:
kartik.lname

'Roy'

In [90]:
kartik.salary

30000

In [91]:
kartik.increase()

In [92]:
kartik.salary

60000

#### using instance variables

In [93]:
class employee:
    increment=3 #class variable
    no_of_employee=0
    def __init__(self,fname,lname,salary):
        self.fname=fname #instance variable
        self.lname=lname
        self.salary=salary
        self.increment=2
        employee.no_of_employee +=1
    def increase(self):  
        self.salary=int(self.salary*self.increment)
gawrav=employee('Gawrav','Aryan',20000) 
john=employee('john','max',20000) 
kartik=employee('Kartik','Roy',30000)

In [94]:
print(employee.no_of_employee)

3

In [95]:
gawrav.fname

'Gawrav'

In [96]:
gawrav.lname

'Aryan'

In [97]:
gawrav.salary

20000

In [98]:
gawrav.increase()

In [99]:
gawrav.salary

40000

In [100]:
gawrav.increment

2

#### Class Methods In Python

In [101]:
class employee:
    increment=2
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def increase(self):
        self.salary=int(self.salary*employee.increment)
    @classmethod
    def change_increment(cls,amount):
        cls.increment=amount
kartik=employee('Kartik','Roy',30000)        
gawrav=employee('Gawrav','Aryan',20000)

In [102]:
kartik.salary

30000

In [103]:
employee.change_increment(5)

In [104]:
kartik.increase()

In [105]:
kartik.salary

150000

In [106]:
gawrav.salary

20000

In [107]:
employee.change_increment(5)

In [108]:
gawrav.increase()

In [109]:
gawrav.salary

100000

#### Class Methods As Alternative Constructor

In [110]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    @classmethod #this is called as decorator
    def from_string(cls,emp_string):
        #this is alternative constructor
        fname,lname,salary=emp_string.split('-')
        return cls(fname,lname,salary)
akash=employee('Akash','Khodwe',30000)
ganesh=employee('Ganesh','Rakhewar',35000)
shree=employee.from_string('Shrikant-Choudekar-40000')

In [111]:
akash.fname

'Akash'

In [112]:
ganesh.lname

'Rakhewar'

In [113]:
shree.lname

'Choudekar'

In [114]:
shree.salary

'40000'

#### Static Methods In Python oops

In [115]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    @classmethod
    def from_string(cls,emp_string):
        fname,lname,salary=emp_string.split('-')
        return cls(fname,lname,salary)
    @staticmethod
    def isopen(day):
        if day=='sunday':
            return 'Office is not Open today'
        else:
            return 'Open'
        
ajay=employee('Ajay','Joshi',40000)    
parag=employee.from_string('Parag-Lalsare-50000')

In [116]:
ajay.fname

'Ajay'

In [117]:
parag.lname

'Lalsare'

In [118]:
parag.isopen('sunday')

'Office is not Open today'

In [119]:
parag.isopen('monday')

'Open'

#### Check All Variable in function/Class

In [120]:
parag.__dict__

{'fname': 'Parag', 'lname': 'Lalsare', 'salary': '50000'}

In [121]:
employee.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.employee.__init__(self, fname, lname, salary)>,
              'from_string': <classmethod at 0x2b5a1463610>,
              'isopen': <staticmethod at 0x2b5a1463640>,
              '__dict__': <attribute '__dict__' of 'employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'employee' objects>,
              '__doc__': None})

### Inheritance In Python oops

In [122]:
class employee:
    increment=2
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
        self.increment=2
    def increase(self):
        self.salary=self.salary*employee.increment
    @classmethod
    def change_increment(cls,amount):
        cls.increment=amount
    @classmethod
    def from_string (cls,emp_string):
        fname,lname,salary=emp_string.split('-')
        return cls(fname,lname,salary)
    @staticmethod
    def is_open(day):
        if day=='sunday':
            return 'Sorry today is Holiday'
        else :
            return 'Office is Open'
class programmer(employee): # Using Inheritance
    pass
harry=employee('Harry','Jonson',20000)
martin=employee('matrin','lee',40000)
chris=employee.from_string('chris-Gayle-90000')
david=programmer('David','Warner',70000)

In [123]:
harry.lname

'Jonson'

In [124]:
david.fname

'David'

In [125]:
david.lname

'Warner'

In [126]:
david.salary

70000

In [127]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
        # Using Inheritance
class programmer(employee):
    def __init__(self,fname,lname,salary,proglang,exp):
        super().__init__(fname,lname,salary)
        self.proglang=proglang
        self.exp=exp

In [128]:
ravi=programmer('Ravi','Teja',56000,'Python',6)

In [129]:
ravi.exp

6

In [130]:
ravi.proglang

'Python'

In [131]:
ravi.lname

'Teja'

In [132]:
ravi.fname

'Ravi'

In [133]:
class employee:
    increment=2
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
        self.increment=2
    def increase(self):
        self.salary=self.salary*employee.increment
    @classmethod
    def change_increment(cls,amount):
        cls.increment=amount
    @classmethod
    def from_string (cls,emp_string):
        fname,lname,salary=emp_string.split('-')
        return cls(fname,lname,salary)
    @staticmethod
    def is_open(day):
        if day=='sunday':
            return 'Sorry today is Holiday'
        else :
            return 'Office is Open'
class programmer(employee): # Using Inheritance
    def __init__(self,fname,lname,salary,proglang,exp):
        super().__init__(fname,lname,salary)
        self.proglang=proglang
        self.exp=exp
    def increase(self):
        self.salary=int(self.salary*(self.increment+0.2))
        return self.salary
vinod=programmer('vinod','patil',10000,'python','5-years')

In [134]:
vinod.proglang

'python'

In [135]:
vinod.exp

'5-years'

In [136]:
vinod.salary

10000

In [137]:
vinod.increase()

22000

In [138]:
vinod.salary

22000

In [139]:
help(programmer)

Help on class programmer in module __main__:

class programmer(employee)
 |  programmer(fname, lname, salary, proglang, exp)
 |
 |  Method resolution order:
 |      programmer
 |      employee
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, fname, lname, salary, proglang, exp)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  increase(self)
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from employee:
 |
 |  change_increment(amount) from builtins.type
 |
 |  from_string(emp_string) from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from employee:
 |
 |  is_open(day)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from employee:
 |
 |  increment = 2

### Magic/Dunder Methods In Python

In [140]:
a=10
a.__add__(5)

15

In [141]:
a.__add__(40)

50

In [142]:
b=15
b.__mul__(3)

45

In [143]:
c=3
c.__sub__(1)

2

In [144]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def __add__(self,other): #here we use magic/Dunder Method
        return self.salary + other.salary
sandesh=employee('sandesh','Tyagi',10000)
arun=employee('Arun','Jain',5)
krish=employee('Krishna','agrwal',20000)

In [145]:
sandesh.salary

10000

In [146]:
arun.salary

5

In [147]:
krish.salary

20000

In [148]:
print(sandesh+arun)

10005

In [149]:
print(sandesh+krish)

30000

In [150]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def __add__(self,other): #here we use magic/Dunder Method
        return self.salary + other.salary
    def __repr__(self):
        return 'employee({},{},{})'.format(self.fname,self.lname,self.salary)
sandesh=employee('sandesh','Tyagi',10000)
arun=employee('Arun','Jain',5)
krish=employee('Krishna','agrwal',20000)

In [151]:
print(repr(krish))

employee(Krishna,agrwal,20000)

In [152]:
print(repr(sandesh))

employee(sandesh,Tyagi,10000)

In [153]:
repr(arun)

'employee(Arun,Jain,5)'

In [154]:
class employee:
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
    def __add__(self,other): #here we use magic/Dunder Method
        return self.salary + other.salary
    def __repr__(self):
        return 'employee({},{},{})'.format(self.fname,self.lname,self.salary)
    def __str__(self):
        return 'The Name of Employee is({})'.format(self.fname)
sandesh=employee('sandesh','Tyagi',10000)
arun=employee('Arun','Jain',5)
krish=employee('Krishna','agrwal',20000)

In [155]:
sandesh.fname

'sandesh'

In [156]:
print(sandesh)

The Name of Employee is(sandesh)

In [157]:
krish

employee(Krishna,agrwal,20000)

In [158]:
print(krish)

The Name of Employee is(Krishna)

### args and *kwargs tutorial

In [159]:
def fun1(name,age,role_num):
    print('The name of the student is',name,'and age is',age,'and role_num',role_num)

In [160]:
fun1('balaprasad',28,143)

The name of the student is balaprasad and age is 28 and role_num 143

#### Use *args

In [161]:
def fun2(*args):
    print('The name of the student is',args[0],'and age is',args[1],'and role_num',args[2])

In [162]:
fun2('Virat',35,18)

The name of the student is Virat and age is 35 and role_num 18

In [163]:
def fun2(*args):
    if (len(args)==3):
        print('The name of the student is',args[0],'and age is',args[1],'and role_num',args[2])
    else:  
        print('The name of the student is',args[0],'and age is',args[1])

In [164]:
fun2('Sachin',37)

The name of the student is Sachin and age is 37

In [165]:
def fun2(*args):
    if (len(args)==3):
        print('The name of the student is',args[0],'and age is',args[1],'and role_num',args[2])
    elif (len(args)==2): 
        print('The name of the student is',args[0],'and age is',args[1])
    else:
        print('The Name of the Student is', args[0])

In [166]:
fun2('Hardik',39,655)

The name of the student is Hardik and age is 39 and role_num 655

#### anoter one use of *args pass the list as an argument

In [167]:
lis=['harry',22,8746]
fun2(*lis)

The name of the student is harry and age is 22 and role_num 8746

In [168]:
lis2=['Shweta',22,74648]
fun2(*lis2)

The name of the student is Shweta and age is 22 and role_num 74648

### Use **kwargs

In [169]:
def marks(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [170]:
marklist={'prasad':98,'shweta':99,'Rohini':78,'Max':87}
marks(**marklist)

prasad 98
shweta 99
Rohini 78
Max 87

#### print normal argument,args and *kwargs in one function

In [171]:
def master(normal,*args,**kwargs):
    print(normal)
    for i in args:
        print(i)
    for key,value in kwargs.items():
        print(key,value)

In [172]:
marklist

{'prasad': 98, 'shweta': 99, 'Rohini': 78, 'Max': 87}

In [173]:
lis

['harry', 22, 8746]

In [174]:
master('Normal Argument',*lis2,**marklist)

Normal Argument
Shweta
22
74648
prasad 98
shweta 99
Rohini 78
Max 87

#### Try, Except, Else and Finally in python explained

In [175]:
try:
    1/0
except (SyntaxError):
    print('SyntaxError')
except(ZeroDivisionError):
    print('ZeroDivisionError')
except:
    print('No Error')
finally:
    print('Both of Them')

ZeroDivisionError
Both of Them

In [176]:
try:
    1/0
except:
    print('Error not Found')

Error not Found

In [177]:
try:
    1/0
except:
    print('No Error')
    a=10
    b=30
print(a+b)

No Error
40

In [178]:
try: 
    file=open('prasad.txt','r')
except FileNotFoundError as e:
    print('eof error')  
finally:
    print('accept this error')

accept this error

In [179]:
try:
    1/0
    #print('i will try this code and i will throw exception if there is any problem')
except Exception as e:
    print('i will run only if try block is fail ')
else:
    print('i will run only if there is no exception ')
finally:
    print('this will be printed in every time')

i will run only if try block is fail
this will be printed in every time

### Python List iterables & iterators

In [180]:
# list is iterable
lst=[1,2,3,4,5,6]
for i in lst:
    print(i)

1
2
3
4
5
6

In [181]:
# list is convert to iterators

lst1=iter(lst)
lst1

In [182]:
# to show iterator using next function () bye continue executing
try:
    print(next(lst1))
except:
    print('list is finish please reload lst1')

1

### Generators

In [183]:
def gen(n):
    for i in range(n):
        yield(i)

In [184]:
print(gen(5))

<generator object gen at 0x000002B5A1455740>

In [185]:
for i in gen(4):
    print(i)

0
1
2
3

In [186]:
obj1=gen(10)

In [187]:
try:
    print(next(obj1))
except:
    print('length of obj1 is finish please reload first')

0

#### List Comprehension,Set Comprehension, Dictionary Comprehension And Generator Comprehension

### List Comprehension

In [188]:
import numpy as np
lst=range(1,101)
lst2=list(lst)

In [189]:
lst

range(1, 101)

In [190]:
lst2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [191]:
lst2
devide_by_2=[]
for i in lst2:
    if i%5==0:
        devide_by_2.append(i)
print(devide_by_2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [192]:
# Using List Comprehension
lst_comp=[var for var in lst2 if var%5==0]
print('Using List Comprehension : {}'.format(lst_comp))

Using List Comprehension : [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#### Dictionary Comprehension

In [193]:
dict1={'a':45,'b':60,'A':5}

In [194]:
print({k.lower():dict1.get(k.lower(),0)+dict1.get(k.upper(),0) for k in dict1.keys()})

{'a': 50, 'b': 60}

In [195]:
print({k.upper():dict1.get(k.upper(),0)+dict1.get(k.lower(),0) for k in dict1.keys()})

{'A': 50, 'B': 60}

#### Set Comprehension

In [196]:
squre={1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5,6,7,7,7,8,8,9,9,9,9,}

In [197]:
set_comp={i*2 for i in squre}
set_comp

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [198]:
comp={i*3 for i in [1,2,3,3,3,4,4,4,5,5,6,6,6,7,7,7,7,8,8,9]}
comp

{3, 6, 9, 12, 15, 18, 21, 24, 27}

#### Generator Comprehension

In [199]:
gen=(i for i in range(56) if i%3==0)
print(gen)

<generator object <genexpr> at 0x000002B5A186BA50>

In [200]:
for i in gen:
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54

### Map, Filter and Reduce in Python

### Map

In [201]:
h1=[1,2,3,4]
sq=[]
for i in h1:
    sq.append(i**2)
print(sq)

[1, 4, 9, 16]

In [202]:
#Using Map function
def even_or_odd(num):
    if num%2==0:
        return 'The number {} is Even'.format(num)
    else:
        return 'The number {} is Odd'.format(num)

In [203]:
even_or_odd(44)

'The number 44 is Even'

In [204]:
lst=np.arange(1,11)
list1=list(lst)
print(type(lst1))
print(lst1)

<class 'list_iterator'>
<list_iterator object at 0x000002B5A147DAF0>

In [205]:
# using Map Function
map(even_or_odd,list1)

In [206]:
list(map(even_or_odd,list1))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 10 is Even']

### Filter Functions in Python

In [207]:
def even(num):
    if num%2==0:
        return('the number {} is Even'.format(num))

In [208]:
x=[1,2,3,4,5,6,7,8,9]

In [209]:
list(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
list(filter(even,x))

[2, 4, 6, 8]

#### Reduce Function()

In [211]:
from functools import reduce

In [212]:
def sum_num(a,b):
    return a+b
lst=[2,4,6,8,10]
li1=reduce(sum_num,lst)
print(li1)

30

In [213]:
li2=reduce(sum_num,[1,2,3,4,5])
li2

15

### Lambda functions

In [214]:
add=lambda x,y: x+y
print(add(2,4))

6

In [215]:
mult=lambda a,b: a*b
print(mult(8,5))

40

### List Slicing

In [216]:
list1=[1,2,3,4,5,6,7,8,9]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [217]:
list1[1:5]

[2, 3, 4, 5]

In [218]:
list1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [219]:
list1[1:9]

[2, 3, 4, 5, 6, 7, 8, 9]

In [220]:
list1[:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [221]:
list1[-1:]

[9]

In [222]:
list1[-2:]

[8, 9]

In [223]:
list1[-5:-2]

[5, 6, 7]

In [224]:
list1[::2]

[1, 3, 5, 7, 9]

In [225]:
list1[::3]

[1, 4, 7]

In [226]:
list1[::4]

[1, 5, 9]

In [227]:
list1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Bisect Module In Python

In [228]:
import bisect

In [229]:
a=[1,2,4,6,8,33,56,76,98,34,105] #this is a random list, if add 43 number in list with correct sorting index so we use this method

In [230]:
a

[1, 2, 4, 6, 8, 33, 56, 76, 98, 34, 105]

In [231]:
num=43 #i want add 43 num in list [a] with correct sorting index

In [232]:
num

43

In [233]:
print(bisect.bisect(a,num)) #this function it will show only sorting index of that num,43 index is 6th position

6

In [234]:
bisect.insort(a,num)

In [235]:
print(a)

[1, 2, 4, 6, 8, 33, 43, 56, 76, 98, 34, 105]

In [236]:
a=[1,2,4,6,8,33,56,76,98,34,105]
num=43
print('Index Number:',bisect.bisect(a,num))
bisect.insort(a,num)
print('Sorting List',a)

Index Number: 6
Sorting List [1, 2, 4, 6, 8, 33, 43, 56, 76, 98, 34, 105]

### Enumerate Function

In [237]:
a=['codewithharry','t-series','pen','mtv']

In [238]:
i=0
for item in a:
    i=i+1
    print(item)

codewithharry
t-series
pen
mtv

In [239]:
# using Enumerate Function
for i,item in enumerate(a):
    print(i,item)

0 codewithharry
1 t-series
2 pen
3 mtv

### Format Function In Python

In [240]:
users=['Prasad','Pravin','Ganesh','Suraj','Sandy']
computers=['Apple Inc','HP','Samsung ','IBM','Lenovo']

In [241]:
for i in range(0,len(users)):
    print('computer used by',users[i], "is",computers[i])

computer used by Prasad is Apple Inc
computer used by Pravin is HP
computer used by Ganesh is Samsung
computer used by Suraj is IBM
computer used by Sandy is Lenovo

In [242]:
users=['Prasad','Pravin','Ganesh','Suraj','Sandy']
computers=['Apple Inc','HP','Samsung ','IBM','Lenovo']
for i in range(0,len(users)):
    print(users[i],computers[i])

Prasad Apple Inc
Pravin HP
Ganesh Samsung
Suraj IBM
Sandy Lenovo

In [243]:
#Using Templete
for i in range(0,len(users)):
    templet=('computer used by {} is {}'.format(users[i],computers[i]))
    print(templet)

computer used by Prasad is Apple Inc
computer used by Pravin is HP
computer used by Ganesh is Samsung
computer used by Suraj is IBM
computer used by Sandy is Lenovo

In [244]:
#Using Templete
for i in range(0,len(users)):
    templet=('computer used by {1} is {0}'.format(users[i],computers[i]))
    print(templet)

computer used by Apple Inc is Prasad
computer used by HP is Pravin
computer used by Samsung  is Ganesh
computer used by IBM is Suraj
computer used by Lenovo is Sandy

### Join Function In Python

In [245]:
sample=['chalk','duster','board','pen']
''' chalk and duster and board and pen'''

' chalk and duster and board and pen'

In [246]:
import warnings
warnings.filterwarnings('ignore')

In [247]:
for item in sample:
    if item is not 'pen':
        print(item,'and ', end='')
    else:    
        print(item)

chalk and duster and board and pen

In [248]:
#using join Function
print(' and '.join(sample))

chalk and duster and board and pen

In [249]:
print('Hi, New Programmer in Python!')

Hi, New Programmer in Python!

In [250]:
print("Hi, New Programmer in Python!")

Hi, New Programmer in Python!

In [251]:
print('''Hi,
New
Programmer
in
Python!''')

Hi,
New
Programmer
in
Python!

In [252]:
a=2
print("Index number of a is: {} ".format(id(a)))

Index number of a is: 140716105148224

In [253]:
a=3
print("Index number of a is: {} ".format(id(a)))

Index number of a is: 140716105148256

#### Numbers

In [254]:
#number
a=1
print(a)

b=2.52
print(b)

c=2+5j
print(c)

1
2.52
(2+5j)

#### String

In [255]:
#string
s1='Prasad'
s2="Garudkar"

In [256]:
#cont
print(s1 + s2)

PrasadGarudkar

In [257]:
#rep
print(s1*3)

PrasadPrasadPrasad

In [258]:
#slice
print(s1[0:4])

Pras

In [259]:
#index
print(s1[-1:]+s1[1])

dr

In [260]:
s1

'Prasad'

In [261]:
s1[-1:]

'd'

In [262]:
s1[:-1]

'Prasa'

In [263]:
#find
print(s1.find('d'))

5

In [264]:
#replace
print(s1.replace('d','z'))

Prasaz

In [265]:
#split
print(s1,s2.split('-'))

Prasad ['Garudkar']

In [266]:
#split
print(s1.split('.'))

['Prasad']

In [267]:
#count
print(s1.count('a',0,4))

1

In [268]:
#count
print(s1.count('a'))

2

In [269]:
#upper
print(s1.upper())

PRASAD

In [270]:
#lower
print(s1.lower())

prasad

In [271]:
#isalpha
print(s1.isalpha())

True

In [272]:
s2 = " Garudkar";
s3 = 'Garudkar ';

In [273]:
print(s2)

 Garudkar

In [274]:
print(s3)

Garudkar

### Strip()

In [275]:
#speace left, right or both side...
print(s1.lstrip())
print(s1.rstrip())
print(s1.strip())

Prasad
Prasad
Prasad

In [276]:
#speace left, right or both side...
z='!!!!!!!!!!Balaprasad!!!!!! Govindrao!!!!!!! Garudkar!!!!!!!!!!!!'
z

'!!!!!!!!!!Balaprasad!!!!!! Govindrao!!!!!!! Garudkar!!!!!!!!!!!!'

In [277]:
z.lstrip("!")

'Balaprasad!!!!!! Govindrao!!!!!!! Garudkar!!!!!!!!!!!!'

In [278]:
z.rstrip("!")

'!!!!!!!!!!Balaprasad!!!!!! Govindrao!!!!!!! Garudkar'

In [279]:
z.strip("!")

'Balaprasad!!!!!! Govindrao!!!!!!! Garudkar'

### Tuple

In [280]:
#tuple

tup = (1,1.25, 3j, 'a', "ABC")
print(tup)
tup1 = (1,1.25, 3j, 'a', "ABC",(1,2,3,4,"asdf"))
print(tup1)
print(tup1+(11,11))
print(tup*2)
print(tup[1:2])
print([0])

(1, 1.25, 3j, 'a', 'ABC')
(1, 1.25, 3j, 'a', 'ABC', (1, 2, 3, 4, 'asdf'))
(1, 1.25, 3j, 'a', 'ABC', (1, 2, 3, 4, 'asdf'), 11, 11)
(1, 1.25, 3j, 'a', 'ABC', 1, 1.25, 3j, 'a', 'ABC')
(1.25,)
[0]

In [281]:
print(tup)

(1, 1.25, 3j, 'a', 'ABC')

In [282]:
tup[1:5]

(1.25, 3j, 'a', 'ABC')

In [283]:
tup[:3]

(1, 1.25, 3j)

#### List

In [284]:
#DataTypes in Python
#list
li =[1,1.25, "asdf",'as', 5j]
Dict = [{1:"abc"}, {2:"DNA"}, {3:4+5j}]
sett=[1,2,3,4,5]
(li,
Dict,
sett)

([1, 1.25, 'asdf', 'as', 5j],
 [{1: 'abc'}, {2: 'DNA'}, {3: (4+5j)}],
 [1, 2, 3, 4, 5])

In [285]:
listt =[1, 1.25, "asdf", 'ss', 5j]

In [286]:
listt[0]='shweta'
listt

['shweta', 1.25, 'asdf', 'ss', 5j]

In [287]:
print(listt+['prasad'])

['shweta', 1.25, 'asdf', 'ss', 5j, 'prasad']

In [288]:
listt*2

['shweta', 1.25, 'asdf', 'ss', 5j, 'shweta', 1.25, 'asdf', 'ss', 5j]

In [289]:
listt[:3]

['shweta', 1.25, 'asdf']

In [290]:
listt.append('ssss')
listt

['shweta', 1.25, 'asdf', 'ss', 5j, 'ssss']

In [291]:
listt.extend(['s','d',"asd"])
listt

['shweta', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd', 'asd']

In [292]:
listt.insert(0,'prasad')
listt

['prasad', 'shweta', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd', 'asd']

In [293]:
listt.pop()
listt

['prasad', 'shweta', 1.25, 'asdf', 'ss', 5j, 'ssss', 's', 'd']

### Dictionary

In [294]:
Dict1=[]
Dict={1:"prasad", 2:"Garudkar", "Faculty":"Yes" }
Dict

{1: 'prasad', 2: 'Garudkar', 'Faculty': 'Yes'}

In [295]:
type(Dict)

dict

In [296]:
type(Dict1)

list

In [297]:
print(Dict[1])

prasad

In [298]:
print(len(Dict))

3

In [299]:
print(Dict.keys())
print(Dict.values())

dict_keys([1, 2, 'Faculty'])
dict_values(['prasad', 'Garudkar', 'Yes'])

In [300]:
print(Dict.items())

dict_items([(1, 'prasad'), (2, 'Garudkar'), ('Faculty', 'Yes')])

In [301]:
print(Dict.get('Faculty'))

Yes

In [302]:
Dict.update({2:'Raj'})
Dict

{1: 'prasad', 2: 'Raj', 'Faculty': 'Yes'}

In [303]:
print(Dict.pop(1))

prasad

### Set

In [304]:
s = {1,2,3,4,5,5,5}
s

{1, 2, 3, 4, 5}

In [305]:
type(s)

set

In [306]:
s1={1,2,3}
s2 = {1,2,'b'}
s1,s2

({1, 2, 3}, {1, 2, 'b'})

In [307]:
print(s1 | s2)

{1, 2, 3, 'b'}

In [308]:
print(s1 & s2)

{1, 2}

In [309]:
print(s1 - s2)

{3}

### if,elif,if-else-if

In [310]:
a=1;
if(a>=1):
    print("The value of a is 1 or greater "+str(a))

The value of a is 1 or greater 1

In [311]:
a=0;
if(a>=1):
      print("The value of a is 1 or greater "+str(a))
else:
      print("Else Body of if!")

Else Body of if!

In [312]:
a=1;
b=2;
if(a>=1):
    print("The value of a is 1 or greater "+str(a))
    if(b==2):
        print("Nested if!")
    else:
        print("first If body")
else:
    print("first if else body")

The value of a is 1 or greater 1
Nested if!

In [313]:
a=15
b=30
c=40
if(a>10):
    print("A is Greater")
elif b>=20:
    print("20 Greater or equal")
elif c>30:
    print("C is Greater")

A is Greater

In [314]:
a=1
b=2
c=3
if(a>10):
      print("A is Greater")
elif b>=20:
      print("20 Greater or equal")
elif c>30:
      print("C is Greater")
else:
      print("Default!")

Default!

### Looping Statement in python

#### for

In [315]:
for a in range(1,11,1):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [316]:
for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [317]:
for a in range(1,11,2):
    print(a)
for b in range(11,20,2):
    print(b)

1
3
5
7
9
11
13
15
17
19

### While Statement

In [318]:
n=1
while(n<=10):
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

In [319]:
n=1
while n<=5:
    print(n)
    n=n+1

1
2
3
4
5

In [320]:
n=1
while n<=10:
    print(n)
    n=n*2

1
2
4
8

### Break

In [321]:
n=0
while n<10:
    n=n+1
    if(n!=5):
        print(n)
    else:
        break

1
2
3
4

### Continue

In [322]:
s=[1234]
for c in s:
    if( c == ' '):
        break
    print(c)
else:
        print ('after break i am not getting called')

1234
after break i am not getting called

In [323]:
i=0
while(i<10):
    i+=1
    if(i==5):
        continue
    print(i)
print('Loop Terminates')

1
2
3
4
6
7
8
9
10
Loop Terminates

In [324]:
i=0
while(i<10):
    i+=1
    if(i!=5):
        continue
    print(i)
print('Loop Terminates')

5
Loop Terminates

In [325]:
#continue, break, pass
for i in range(1,11):

    if i==1:
        pass
    if i==5:
        continue
    if i==8:
        break
    print ("This is iteration no. ", i)

This is iteration no.  1
This is iteration no.  2
This is iteration no.  3
This is iteration no.  4
This is iteration no.  6
This is iteration no.  7

### Operator in Python

In [326]:
#Arithematic Operation in Python
a=11;b=3;
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

14
8
33
3.6666666666666665
2
1331
3

In [327]:
#Comparision Operation in Python
a=11;b=11;
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

False
False
True
True
False
True

In [328]:
#Assignment Operators (=, +=, -=, *= .....)
a=2;
print(a)
a*=2; # a= a*2
print(a)

2
4

In [329]:
#Bitwise Operator (&, |, ^, ~, >>, <<)
a=2;
b=3;
print(a & b)
print( a | b)
print(a ^ b)
print(~a)
print (a >> b)
print (a << b)

2
3
1
-3
0
16

In [330]:
# Logical Operator in Python ( and, or, not)
a = True;
b = True;
print( a and b)
print( a or b)
print( not b)

True
True
False

In [331]:
a=2
b=5
c=50
if ( (a>=5 and b>=10) or (c<=49) ):
    print("True")
else:
    print("Not ture")

Not ture

In [332]:
# Membership Operator (in, not in)
Var=['a', 23, 25.12, "prasad"]
print('prasad' in Var)
print('prasad' not in Var)

True
False

In [333]:
#identity operator (is, is not)
x=5;
y=5;
z=4;
print( x is y)
print( x is not y)
print( x is z)

True
False
False

### Print VS Return in Python

In [334]:
def printfunction(a):
    a=a*2
    print(a)

printfunction(3)

6

In [335]:
def returnfunction(b):
    b=b*2
    return b;
printfunction(3)

6

In [336]:
p= printfunction(3)

6

In [337]:
r= returnfunction(3) #that is a basic difference in print & return

In [338]:
type(p)

NoneType

In [339]:
type(r)

int

In [340]:
p

In [341]:
r

6

### OOPS: Object oriented programming:

#### Class

In [342]:
#Creating class without parameters
class python:
    def Sum(self):
        a=1;b=2;
        print(a+b)

In [343]:
python.Sum

#### Object

In [344]:
#Creating Object
obj=python()

In [345]:
#First Method to call function
python.Sum(obj)

3

In [346]:
#Second Method to call function

#obj.Sum();
obj.Sum()

3

In [347]:
#Creating class with parameters
class python:
    def Sum(self,a,b):
        print(a+b)

In [348]:
python.Sum(obj,10,20)

30